{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

{%- set page = get_page(path="skills.md", lang=lang) -%}
<div class="flex items-center flex-col mt-10 px-4">
  <h1>{{ page.title }}</h1>

  <div class="text-bold mt-4">{{ page.content | safe }}</div>

  {%- if config.extra.main_skills_threshold -%}
  <h2>{{ content::translate(value="Main Skills", i18n=i18n, i18n_user=i18n_user) }}</h2>
  {{ macros::terms_list_skills_main(terms=terms, threshold=config.extra.main_skills_threshold, icons=icons) }}

  <h2>{{ content::translate(value="Other Skills", i18n=i18n, i18n_user=i18n_user) }}</h2>
  {{ macros::terms_list_skills_other(terms=terms, threshold=config.extra.main_skills_threshold, icons=icons) }}
  {% else %}
  {{ macros::terms_list_skills(terms=terms, icons=icons) }}
  {% endif %}

</div>

{% endblock content %}