{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

{% set page = get_page(path="projects.md", lang=lang) %}

<div class="flex items-center flex-col mt-10 px-4">
    <h1>{{ page.title }}</h1>

    <div class="text-bold mt-4">
        {{ page.content | safe }}
    </div>

    {{ macros::terms_list_projects(terms=terms, icons=icons) }}

    <!-- List the top projects -->
    <div class="flex flex-col gap-y-6 w-full mt-10">

        {# Get the projects section directly instead of looping taxonomy #}
        {% set projects_section = get_section(path="projects/_index.md", lang=lang) %}

        {% for project_page in projects_section.pages | sort(attribute="extra.weight") %}
            {% if project_page.extra.top_project %}
                {{ macros::project_tile(
                    page=project_page,
                    i18n=i18n,
                    i18n_user=i18n_user,
                    icons=icons
                ) }}
            {% endif %}
        {% endfor %}


    </div>

</div>

{% endblock content %}
