{% extends "base.html" %}

{% block content %}
<div class="flex items-center flex-col mt-16">
  {% if section.title %}<h1>{{ section.title }}</h1>
  {% endif %}
  {% if config.extra.index.slogan %}
  <p class="mb-6">{{ config.extra.index.slogan }}</p>
  {% endif %}
  {% if config.extra.index.image %}
  <img class="rounded-full h-40 w-40"
    src="{{ content::base_path() }}{{ config.extra.index.image }}" {% if
    config.extra.index.image_alt %}alt="{{ config.extra.index.image_alt }}" {% endif %}>
  {% endif %}
  <!-- ✅ Your custom text -->
<p class="text-center text-sm text-gray-600 mt-2">
Passionate about technology, people, and food.
<br>
Welcome to my portfolio—feel free to explore my projects and see what I’ve been working on!
<br>
<br>
Thanks for stopping by.
</p>

  <!-- Content -->
  <div class="text-bold mt-2 w-2/3 text-center p-4">
    {{ section.content | safe }}
  </div>
</div>
{% endblock content %}